/* Filename - index.css*/
/* import these files */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Additional styles */


body {
  padding: 0;
  margin: 0;
  text-align: center;
}